body {
   background-image: url("vagina.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   background-color: #cccccc;
    
    padding-top: 65px;

}
